<section class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href="#">HTML</a></li>
      <li><a href="#">Javascript</a></li>
      <li><a href="#">Ruby</a></li>
    </ul>
  </nav>
  <img class="logo" src="assets/AA_Times_Logo.png" alt="">
  <nav class="masthead-links">
    <time>Tuesday, October 18, 2016</time>
    <li><a href="#">Today’s Paper</a></li>
    <li><i class="fa fa-video-camera" aria-hidden="true"></i></li>
    <li><a href="#">Video</a></li>
    <li class="temperature">77°F</li>
    <li><strong>AAO +100%</strong></li>
  </nav>
</section>
